<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Heartbeat</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script src="highcharts.js"></script>
    <script src="export-data.js"></script>
    <script src="accessibility.js"></script>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="heartbeat.css" />
  </head>
  <body>
    <div id="navbar">
      <a href="chart" class="logo">HeartBeat</a>
      <div class="box">
        <div class="heart"></div>
      </div>
      <div id="navbar-right">
        <a href="chart" class="active">Theo dõi</a>
        <a class="warning" href="#">Cảnh báo</a>
        <a href="history">Lịch sử</a>
        <a href="#">Chi tiết</a>
      </div>
    </div>
    <div class="black"></div>
    <div class="form">
      <div class="thaynguong-title">Ngưỡng cảnh báo</div>
      <form class="thaynguong">
        <input
          type="text"
          id="pin1"
          placeholder="Ngưỡng cao"
          maxlength="3"
          size="3"
        /><br />
        <input
          type="text"
          id="pin2"
          placeholder="Ngưỡng thấp"
          maxlength="3"
          size="3"
        /><br />
        <input
          type="password"
          id="pin3"
          placeholder="Nhập mật khẩu để thay đổi ngưỡng"
          maxlength="8"
          size="8"
        /><br />
        <button type="reset" id="thaynguong-button">Thay đổi</button>
      </form>
    </div>
    <div class="container-all">
      <figure class="highcharts-figure">
        <div id="container"></div>
      </figure>
    </div>
    <script type="text/javascript" src="heartbeat.js"></script>
    <script type="text/javascript">
      var chart = Highcharts.chart("container", {
        chart: {
          zoomType: "xy",
          backgroundColor: "rgba(77, 77, 77, 0.7)",
        },
        title: {
          text: "Đồ thị nhịp tim",
          style: {
            color: "transparent",
            fontWeight: "bold",
            fontSize: "30px",
            fontFamily: "serif",
          },
        },

        xAxis: [
          {
            categories: [],
            tickWidth: 1,
            tickLength: 20,
            labels: {
              style: {
                color: "white",
                fontSize: "15px",
                fontFamily: "serif",
              },
            },
          },
        ],
        yAxis: [
          {
            // Primary yAxis
            labels: {
              format: "{value} BPM",
              style: {
                color: "white",
                fontSize: "20px",
                fontFamily: "serif",
              },
            },
            title: {
              text: "Nhịp tim/phút",
              style: {
                color: "white",
                fontSize: "20px",
                fontFamily: "serif",
              },
            },
            plotLines: [
              {
                value: 20,
                color: "green",
                dashStyle: "shortdash",
                width: 2,
                zIndex: 10,
                label: {
                  text: "Ngưỡng thấp",
                },
              },
              {
                value: 90,
                color: "red",
                dashStyle: "shortdash",
                width: 2,
                zIndex: 10,
                label: {
                  text: "Ngưỡng cao",
                },
              },
            ],
          },
          {
            // Secondary yAxis
            title: {
              text: "Nồng độ Oxy",
              style: {
                color: "#00BFFF",
                fontSize: "20px",
                fontFamily: "serif",
              },
            },
            labels: {
              format: "{value} %",
              style: {
                color: "#00BFFF",
                fontSize: "20px",
                fontFamily: "serif",
              },
            },
            opposite: true,
          },
        ],
        tooltip: {
          shared: true,
        },
        legend: {
          layout: "vertical",
          align: "left",
          x: 120,
          verticalAlign: "top",
          y: 100,
          floating: true,
          backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || // theme
            "rgba(255,255,255,0.25)",
        },
        series: [
          {
            name: "Nồng độ Oxy",
            type: "spline",
            yAxis: 1,
            data: [],
            tooltip: {
              valueSuffix: " %",
            },
          },
          {
            name: "BPM",
            type: "spline",
            data: [],
            tooltip: {
              valueSuffix: "BPM",
            },
            zones: [
              {
                value: 20,
                color: "#ff0015",
              },
              {
                value: 90,
                color: "#141107",
              },
              {
                color: "#ff0015",
              },
            ],
          },
        ],
      });
      socket.on("server-send-oxy_graph", function (data) {
        chart.series[0].setData(data);
      });
      socket.on("server-send-heartbeat_graph", function (data) {
        chart.series[1].setData(data);
      });
      socket.on("server-send-date_graph", function (data) {
        chart.xAxis[0].setCategories(data);
      });
      socket.on("nguongthap", function (data) {
        chart.yAxis[0].options.plotLines[0].value = data;
        chart.series[1].options.zones[0].value = data;
      });
      socket.on("nguongcao", function (data) {
        chart.yAxis[0].options.plotLines[1].value = data;
        chart.yAxis[0].update();
        chart.series[1].options.zones[1].value = data;
        chart.series[1].update();
      });
    </script>
  </body>
</html>
