<!DOCTYPE html>
<html lang="en">
  <head>
    <title>History</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <script src="export-data.js"></script>
    <script src="accessibility.js"></script>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <script src="heartbeat.js"></script>
    <link rel="stylesheet" href="heartbeat.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"
    />
  </head>
  <body>
    <div id="navbar">
      <a href="chart" class="logo">HeartBeat</a>
      <div class="box">
        <div class="heart"></div>
      </div>
      <div id="navbar-right">
        <a href="chart">Theo dõi</a>
        <a class="warning" href="#">Cảnh báo</a>
        <a href="history" class="active">Lịch sử</a>
        <a href="#">Chi tiết</a>
      </div>
    </div>
    <div id="table">
      <table
        id="example"
        class="table table-striped table-bordered"
        style="width: 100%; color: white; text-align: center"
      >
        <thead>
          <tr>
            <th>Lần đo</th>
            <th>Thời gian</th>
            <th>Nhịp tim</th>
            <th>Nồng độ oxi</th>
          </tr>
        </thead>
        <tbody id="data-table"></tbody>
      </table>
    </div>
    <script src="jquery.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#example").DataTable();
      });
    </script>
  </body>
</html>
